<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>862630077705-1pe01jaqhe4mncrqr1i6kc505aakqglv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862630077705-1pe01jaqhe4mncrqr1i6kc505aakqglv</string>
	<key>API_KEY</key>
	<string>AIzaSyBq_H_uQl9hqSHitt_43t3xwJ2SB9B9nbs</string>
	<key>GCM_SENDER_ID</key>
	<string>862630077705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.jus.tjrs.app.treinamento</string>
	<key>PROJECT_ID</key>
	<string>controle-de-estoque-7f512</string>
	<key>STORAGE_BUCKET</key>
	<string>controle-de-estoque-7f512.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862630077705:ios:3ec9de53bbcb6313</string>
	<key>DATABASE_URL</key>
	<string>https://controle-de-estoque-7f512.firebaseio.com</string>
</dict>
</plist>